*.pdb
*.dll
vs/*
LearnFreeQuran.Web/.vs/*
LearnFreeQuran.Web/packages/*
LearnFreeQuran.Web/bin/*
LearnFreeQuran.Web/obj/*
LearnFreeQuran.Web/bin/roslyn/vbc.exe

LearnFreeQuran.Business/packages/*
LearnFreeQuran.Business/bin/*
LearnFreeQuran.Business/obj/*

LearnFreeQuran.DataAccess/packages/*
LearnFreeQuran.DataAccess/bin/*
LearnFreeQuran.DataAccess/obj/*

LearnFreeQuran.Library/packages/*
LearnFreeQuran.Library/bin/*
LearnFreeQuran.Library/obj/*
packages/*
LearnFreeQuran.Web/Properties/PublishProfiles/learnfreequran.com - Web Deploy (2).pubxml
.vs/LearnFreeQuran/v14/.suo
.vs/config/applicationhost.config
