@{
    ViewBag.Title = "Online Quran Teacher | Quran Learning Platform";
    ViewBag.Description = "Learn Quran online with experienced teachers through structured lessons and personalized guidance. Improve your recitation, tajweed, and understanding from anywhere.";
    ViewBag.KeyWords = "online quran teacher, quran tutor, learn quran online, tajweed lessons, quran recitation, islamic education, online quran classes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="banner-wrapper">
    <div id="banner" class="box container">
        <div class="row">
            <div class="col-md-12" style="width:100%;margin:0 auto;">
                <h3 style="text-align:center">Online Quran Teacher</h3>
                <div class="col-md-10" style="text-align: center;font-size: 12px;float: none;text-align: left;width: 100%;">
                    <p>
                        Online Quran Teacher is a platform which is being used to teach you Quran from beginning. We have prepared video lessons in easiest way of quran learning.
                    </p>
                    <p>
                        After completion of all sections you must have to attempt a practice test which is being used for your personal assessment.
                    </p>
                    <p>
                        When you will complete all sections successfully and get more than 85% score in the practice test then we will award you "Quran Certificate".
                    </p>
                    <p>
                        Please hear lessons again and again fro proper understanding and attempt your practice test carefully.
                    </p>
                    <p>
                        Please use your Student ID to start your practice test because we are noticing your performance on the basis of your Student ID.
                    </p>
                    <a href="~/online_quran_teacher_section_1"><input type="button" class="btn-success" style="padding: 1px;margin-left: 30%;background: rgb(102, 34, 0);color: white;border-radius: unset;" value="Get Started" /></a>
                </div>
            </div>
        </div>
    </div>
</div>