
@{
    ViewBag.Title = "Registration | Quran Learning Platform";
    ViewBag.Description = "Register now to start your Quran learning journey. Create an account to access lessons, track progress, and connect with a guided learning experience.";
    ViewBag.KeyWords = "registration, sign up, create account, quran learning platform, online quran learning, islamic education, student registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="register-section pt-100 pb-100 loaded">
    <div class="container">
        <div class="register-box">

            <div class="sec-title text-center mb-30">
                <h2 class="title mb-10">Create New Account</h2>
            </div>

            <!-- Login Form -->
            <div class="contact-form text-center">
                <div id="form-messages"></div>
                <form id="contact-form" method="post" action="/User/SaveUser">
                    <div class="row clearfix">
                        <!-- Form Group -->
                        <div class="form-group col-lg-12 mb-25">
                            <input type="text" id="name" name="name" value="" placeholder="Name" required="">
                        </div>

                        <!-- Form Group -->
                        <div class="form-group col-lg-12">
                            <input type="email" id="email" name="email" value="" placeholder="Email address " required="">
                        </div>
                        <div class="form-group col-lg-12">
                            <input type="password" id="email" name="password" value="" placeholder="Enter password " required="">
                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 text-center">
                            <button type="submit" class="readon btn-success form-control"><span class="txt">Sign Up</span></button>
                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <div class="users">Already have an account? <a href="/User/UserLogin">Sign In</a></div>
                        </div>

                    </div>

                </form>
            </div>

        </div>
    </div>
</section>

