@{
    ViewBag.Title = "About Us | Quran Learning Platform";
    ViewBag.Description = "Learn more about our mission, values, and the dedicated team behind the Quran learning platform. We aim to provide accessible and meaningful Islamic education to learners worldwide.";
    ViewBag.KeyWords = "about quran learning platform, islamic education, learn quran online, quran teaching, islamic learning community, online quran platform";
}

<div id="banner-wrapper">
    <div id="banner" class="box container">
        <div class="row">
            <div class="col-md-12" style="width:100%;margin:0 auto;">
                <h3 style="text-align:center">About Us</h3>
                <p style="font-size: 19px;color: black;">
                    We are team of volunteers from different backgrounds and experiences, here we are together to spread the true message of Islam and teach basics of Islam online without any remuneration or fee. This website is design for anyone in the world who wish to learn Quarn and basics of Islam for free. We have well trained, qualified, experienced and dedicated staff. We are strict, dedicated, committed to this cause and we expect the same from students and parents who will benefit by this platform.
                </p>
                <br />
                <h3 style="text-align:center">Our Vision</h3>
                <p style="font-size: 19px;color: black;">
                    Our vision to spread the true message of Islam for all. To help people in reading and understanding the Holly Quran and the basics of Islam (Shahdat, Salat/Prayer, Zakat, Fast and Hajj).
                </p>
                <br />
                <h3 style="text-align:center">Our Mission</h3>
                <p style="font-size: 19px;color: black;">
                    Simply our mission is to provide opportunities to the whole world learning Quran and Islam online. We believe that spreading knowledge of Islam is worthy for everyone’s life. We provide our services for the sake of ALLAH.
                </p>
            </div>
        </div>
    </div>
</div>
