@{
    ViewBag.Title = "Contact Us | Quran Learning Platform";
    ViewBag.Description = "Get in touch with our team for support, questions, or suggestions. We are here to assist you and improve your Quran learning experience.";
    ViewBag.KeyWords = "contact quran learning platform, support team, islamic learning support, online quran help, contact us, quran learning assistance";
}

<div id="banner-wrapper">
    <div id="banner" class="box container">
        <div class="row">
            <div class="col-md-12" style="width:100%;margin:0 auto;overflow-x:auto;">
                <h3 style="text-align:center">Contact Centers</h3>
                <div style="padding: 10px;">
                    <img src="~/images/fb.png" style="border-radius: 10px;float: left;" />
                    <a href="https://www.facebook.com/Learn-Free-Quran-1338414089559572" target="_blank" style="text-decoration:none;padding-left: 5%;vertical-align: top;">Facebook Help Center</a>
                </div>
                <div style="padding: 10px;">
                    <img src="~/images/yahoo.jpg" style="border-radius: 10px;float: left;" />
                    <a href="https://www.yahoo.com/" target="_blank" style="text-decoration:none;padding-left: 5%;vertical-align: top;">Yahoo Help Center</a>
                </div>
                <div style="padding: 10px;">
                    <img src="~/images/google.png" style="border-radius: 10px;float: left;" />
                    <a href="https://plus.google.com/u/3/110044614813581789939" target="_blank" style="text-decoration:none;padding-left: 5%;vertical-align: top;">Google Help Center</a>
                </div>
                <hr style="border-top:solid 1px #c60;" />
                <h3 style="text-align:center">Contact Support</h3>
                <form action="#" method="post">
                    <table border="0" style="width: 90%;">
                        <tr>
                            <td style="width: 25%;"><label>Enter Topic<label style="color:red">*</label> :</label></td>
                            <td><input type="text" id="contacttopic" style="width: 100% !important;max-width: 100%;" placeholder="enter topic here" required /><br /></td>
                        </tr>
                        <tr>
                            <td><label>Enter Email<label style="color:red">*</label> :</label></td>
                            <td>
                                <input type="text" id="contactemail" style="width: 100% !important;max-width: 100%;" placeholder="enter your email id" required /><br />
                            </td>
                        </tr>
                        <tr>
                            <td><label>Enter Message<label style="color:red">*</label> :</label></td>
                            <td>
                                <textarea id="contactmessage" style="width: 100% !important;max-width: 100%;height: 50%;" placeholder="type your message here" required></textarea><br />
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input type="button" id="contactbutton" class="btn-success" style="padding: 1px;width: 100%;" value="Submit" />
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>