@{
    ViewBag.Title = "Dua e Qunoot | Quran Learning Platform";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Description = "Read and learn Dua e Qunoot with proper understanding and guidance. Explore authentic Islamic supplications and improve your daily prayers.";
    ViewBag.KeyWords = "dua e qunoot, islamic dua, witr dua, learn dua e qunoot, quran learning, islamic supplication, daily duas";
}

<div id="banner-wrapper">
    <div id="banner" class="box container">
        <div class="row">
            <div class="col-md-12" style="width:100%;margin:0 auto;">
                <img src="~/images/Duain/Due_e_Qunoot.png" style="width: 101%;" />
                <br />
            </div>
        </div>
    </div>
</div>



