
@{
    ViewBag.Title = "Fee Structure | Quran Learning Platform";
    ViewBag.Description = "Explore our fee structure for Quran learning programs. Choose a plan that suits your needs and start your journey with flexible and accessible learning options.";
    ViewBag.KeyWords = "quran learning fees, fee structure, online quran courses, pricing plans, islamic education, quran classes cost, learning plans";
}
<div id="banner-wrapper">
    <div id="banner" class="box container">
        <div class="row">
            <div class="col-md-12" style="width:100%;margin:0 auto;overflow-x:auto;">
                <div class="text-center">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-8a1f3e7" data-id="8a1f3e7" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-ba5a5af elementor-widget elementor-widget-heading" data-id="ba5a5af" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h1 class="elementor-heading-title">Study plans (30 mins)</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <div class="box fa-border">
                        <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-61956e9" data-id="61956e9" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-a88ffb5 elementor-widget elementor-widget-accordion" data-id="a88ffb5" data-element_type="widget" data-widget_type="accordion.default">
                                        <div class="elementor-widget-container">
                                            <div class="box-design" role="tablist">
                                                <div class="elementor-accordion-item">
                                                    <h3 id="elementor-tab-title-1761" class="elementor-tab-title" data-tab="1" role="tab" aria-controls="elementor-tab-content-1761" aria-expanded="false">

                                                        <span class="elementor-accordion-icon-opened"><i class="fas fa-bars"></i></span>
                                                        <a class="elementor-accordion-title">(A) </a>
                                                    </h3>
                                                    <div id="elementor-tab-content-1761" class="elementor-tab-content elementor-clearfix" data-tab="1" role="tabpanel" aria-labelledby="elementor-tab-title-1761"><p>5 classes per Week<br />30 mins per class</p><div class="" data-block="true" data-editor="cg6po" data-offset-key="4494i-0-0"><div class="_1mf _1mj" data-offset-key="4494i-0-0">$50 USD / month (Negotiable)</div></div></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box fa-border">
                        <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-61956e9" data-id="61956e9" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-a88ffb5 elementor-widget elementor-widget-accordion" data-id="a88ffb5" data-element_type="widget" data-widget_type="accordion.default">
                                        <div class="elementor-widget-container">
                                            <div class="box-design" role="tablist">
                                                <div class="elementor-accordion-item">
                                                    <h3 id="elementor-tab-title-2201" class="elementor-tab-title" data-tab="1" role="tab" aria-controls="elementor-tab-content-2201" aria-expanded="false">
                                                        <span class="elementor-accordion-icon elementor-accordion-icon-left" aria-hidden="true">
                                                            <span class="elementor-accordion-icon-opened"><i class="fas fa-bars"></i></span>
                                                        </span>
                                                        <a class="elementor-accordion-title">(B) </a>
                                                    </h3>
                                                    <div id="elementor-tab-content-2201" class="elementor-tab-content elementor-clearfix" data-tab="1" role="tabpanel" aria-labelledby="elementor-tab-title-2201"><p>8 classes per month<br />2 classes per week<br />30 mins per class</p><div class="" data-block="true" data-editor="cg6po" data-offset-key="4494i-0-0"><div class="_1mf _1mj" data-offset-key="4494i-0-0"><span style="color: #000000;">$35 USD / month</span></div></div></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="box fa-border">
                        <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-61956e9" data-id="61956e9" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-a88ffb5 elementor-widget elementor-widget-accordion" data-id="a88ffb5" data-element_type="widget" data-widget_type="accordion.default">
                                        <div class="elementor-widget-container">
                                            <div class="box-design" role="tablist">
                                                <div class="elementor-accordion-item">
                                                    <h3 id="elementor-tab-title-1801" class="elementor-tab-title" data-tab="1" role="tab" aria-controls="elementor-tab-content-1801" aria-expanded="false">
                                                        <span class="elementor-accordion-icon elementor-accordion-icon-left" aria-hidden="true">
                                                            <span class="elementor-accordion-icon-opened"><i class="fas fa-bars"></i></span>
                                                        </span>
                                                        <a class="elementor-accordion-title">(C) </a>
                                                    </h3>
                                                    <div id="elementor-tab-content-1801" class="elementor-tab-content elementor-clearfix" data-tab="1" role="tabpanel" aria-labelledby="elementor-tab-title-1801"><p>16 classes per month<br />4 classes per week<br />30 mins per class</p><div class="" data-block="true" data-editor="cg6po" data-offset-key="4494i-0-0"><div class="_1mf _1mj" data-offset-key="4494i-0-0">$45 USD / month </div></div></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="box fa-border">
                        <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-61956e9" data-id="61956e9" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-a88ffb5 elementor-widget elementor-widget-accordion" data-id="a88ffb5" data-element_type="widget" data-widget_type="accordion.default">
                                        <div class="elementor-widget-container">
                                            <div class="box-design" role="tablist">
                                                <div class="elementor-accordion-item">
                                                    <h3 id="elementor-tab-title-1801" class="elementor-tab-title" data-tab="1" role="tab" aria-controls="elementor-tab-content-1801" aria-expanded="false">
                                                        <span class="elementor-accordion-icon elementor-accordion-icon-left" aria-hidden="true">
                                                            <span class="elementor-accordion-icon-opened"><i class="fas fa-bars"></i></span>
                                                        </span>
                                                        <a class="elementor-accordion-title">(D) </a>
                                                    </h3>
                                                    <div id="elementor-tab-content-1801" class="elementor-tab-content elementor-clearfix" data-tab="1" role="tabpanel" aria-labelledby="elementor-tab-title-1801">
                                                        <p>Family Package available and also female teacher available for female Students</p>
                                                        <div class="" data-block="true" data-editor="cg6po" data-offset-key="4494i-0-0">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


