
@{
    ViewBag.Title = "Retrieve Student ID | Quran Learning Platform";
    ViewBag.Description = "Recover your student ID to access your account, view your schedule, and continue your Quran learning journey. Get quick and secure access to your profile.";
    ViewBag.KeyWords = "retrieve student id, recover account, student login help, quran learning platform, account recovery, student access, forgot student id";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="banner-wrapper">
    <div id="banner" class="box container">
        <div class="row">
            <div class="col-md-12" style="width:120%;margin:0 auto;overflow-x:auto;">
                <h3 style="text-align:center;margin-left: -120px;">Find your Student ID here.</h3>
                <form action="#" method="post">
                    <table border="0" style="width: 90%;">
                        <tr>
                            <td><label>Enter Email<label style="color:red">*</label> :</label></td>
                            <td>
                                <input type="text" style="width: 100% !important;max-width: 100%;" id="forgetemailid" placeholder="enter student email id" required /><br />
                            </td>
                            <td><input type="button" id="studentforgetbutton" class="btn-success" style="padding: 1px;width: 100px;" value="Check" /></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>

