
@{
    ViewBag.Title = "Student Schedule | Quran Learning Platform";
    ViewBag.Description = "View your class schedule, upcoming sessions, and learning timetable. Stay organized and track your Quran learning progress بسهولة and efficiently.";
    ViewBag.KeyWords = "student schedule, class timetable, quran learning schedule, online quran classes, session timing, learning dashboard, student timetable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="banner-wrapper">
    <div id="banner" class="box container">
        <div class="row">
            <div class="col-md-12" style="width:100%;margin:0 auto;overflow-x:auto;">
                <div style="float:right"><a href="/Home/EditView">Edit Profile</a></div><br>
                <h3 style="text-align:center;margin-left: -120px;">Check your Schedule here.</h3>
                <form action="#" method="post">
                    <table border="0" style="width: 90%;">
                        <tr>
                            <td><label>Student ID<label style="color:red">*</label> :</label></td>
                            <td>
                                <input type="text" style="width: 100% !important;max-width: 100%;" id="studentscheduleid" placeholder="enter student id" required /><br />
                                <span> <a href="/Home/ForgetYourIDView">forget your id</a></span>
                            </td>
                            <td><input type="button" id="studentshedulelogin" class="btn-success" style="padding: 1px;width: 100px;" value="Check" /></td>
                        </tr>
                    </table>
                </form>
                <h3 id="recordnotfound" style="text-align:center;margin-left: -120px;">Sorry, Record not found.</h3>
                <h3 id="recordnotfoundduetoserver" style="text-align:center;margin-left: -120px;">Sorry, we can't find your result due to internal errors.</h3>
                <table class="rest" id="scheduletable" border="0" style="width: 100%;text-align: center;color: black;border: 1px solid black;font-size: 88%;">
                    <thead style="font-weight: 600;background: darksalmon !important;">
                        <tr style="color:white;">
                            <td>Student ID</td>
                            <td>Name</td>
                            <td>Classes</td>
                            <td>Days</td>
                            <td>Class Time</td>
                            <td>Tutor Name</td>
                            @*<td>Description</td>*@
                        </tr>
                    </thead>
                    <tbody id="schedulebody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

