@{
    ViewBag.Title = "Learn Free Quran with Tutor";
    ViewBag.Description = "LFQ is made only to spread the true message of Islam, which is only based to have sake of ALLAH. It does not have any intention to make money, fame or any related benefit for its own sake. It is completely design to provide modern and technological way of learning Quran and Islam...";
    ViewBag.KeyWords = "Learn Quran,Learn free quran, learn quran with tutor,learn quran with tutor,Online Quran, Tutor, Quran, Quraan, Coran,Learn Online Quran with Tutor, Learn Islam, Basics of Islam, Online Islam, Online Tutor, Digital Quran, Digital world, digital,Arabic Quran, Arabic, Allah, Muhammad, Quran Teacher, Teacher, Electronic World";
}
<style>
    #footer-wrapper {
        margin-top: 0px;
    }
</style>




<!-- Banner -->
<div id="banner-wrapper">
    <div id="banner" class="box container">
        <div class="row">
            <div class="7u 12u(medium)">
                <h2 style="font-family: sans-serif;color: rgb(102, 34, 0);">Online Quran Teacher</h2>
            </div>
            <div class="5u 12u(medium)">
                <img src="~/images/kid1.png" style="width: 80%;height: 300px;" />
            </div>
        </div>
    </div>
</div>

<!-- Features -->
<div id="features-wrapper">
    <div class="container">
        <div class="row">
            <div class="4u 12u(medium)">

                <!-- Box -->
                <section class="box feature box-design">
                    <div class="inner">
                        <header>
                            <h2>Mission</h2>
                            <p style="text-align:center;">What we want</p>
                        </header>
                        <p>Simply our mission is to provide opportunities to the whole world learning Quran and Islam online. We believe that spreading knowledge of Islam is worthy for everyone’s life. We provide our services for the sake of ALLAH. This website is 100% free for everyone.</p>
                    </div>
                </section>

            </div>
            <div class="4u 12u(medium)">

                <!-- Box -->
                <section class="box feature box-design">
                    <div class="inner">
                        <header>
                            <h2>Vision</h2>
                            <p style="text-align:center;">What we think</p>
                        </header>
                        <p>Our vision to spread the true message of Islam for all over the world. To help people in reading and understanding the Holly Quran and the basics of Islam (Shahdat, Salat/Prayer, Zakat, Fast and Hajj) just to spread Islam for the sake of Allah.</p>
                    </div>
                </section>

            </div>
            <div class="4u 12u(medium)">

                <!-- Box -->
                <section class="box feature box-design">
                    <div class="inner">
                        <header>
                            <h2>Focus</h2>
                            <p style="text-align:center;">What we do</p>
                        </header>
                        <p>We want to clear that this website is made only to spread the true message of Islam. We do not have any intention to make money, fame or any related benefit for our own sake. It is design to provide modern and technological way of learning Quran and Islam.</p>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>

<!-- Main -->
<div id="main-wrapper">
    <div class="container">
        <div class="row 200%">
            <div class="4u 12u(medium)">

                <!-- Sidebar -->
                <div id="sidebar">
                    <section class="widget thumbnails">
                        <h3>Online stuff</h3>
                        <div class="grid">
                            <div class="row 50%">
                                <div class="12u"><a href="/Six_Kalmas" class="image fit"><div style="height: 63px;background: gainsboro;border-radius: 10px;text-align: center;"><label style="margin-top: 12px;color: green;cursor: pointer;">Kalma</label></div></a></div>
                                <div class="12u"><a href="/Namaz" class="image fit"><div style="height: 63px;background: gainsboro;border-radius: 10px;text-align: center;"><label style="margin-top: 12px;color: green;cursor: pointer;">Namaz</label></div></a></div>
                                <div class="12u"><a href="/Masnoon_Duain" class="image fit"><div style="height: 63px;background: gainsboro;border-radius: 10px;text-align: center;"><label style="margin-top: 12px;color: green;cursor: pointer;">Duain</label></div></a></div>
                                <div class="12u"><a href="/Darood" class="image fit"><div style="height: 63px;background: gainsboro;border-radius: 10px;text-align: center;"><label style="margin-top: 12px;color: green;cursor: pointer;">Darood</label></div></a></div>
                                <div class="12u"><a href="/Namaz_e_Janaza" class="image fit"><div style="height: 63px;background: gainsboro;border-radius: 10px;text-align: center;"><label style="margin-top: 12px;color: green;cursor: pointer;">Janaza</label></div></a></div>
                                <div class="12u"><a href="/Due_e_Qunoot" class="image fit"><div style="height: 63px;background: gainsboro;border-radius: 10px;text-align: center;"><label style="margin-top: 12px;color: green;cursor: pointer;">Qanoot</label></div></a></div>
                            </div>
                        </div>
                    </section>
                </div>

            </div>
            <div class="8u 12u(medium) important(medium)">

                <!-- Content -->
                <div id="content">
                    <section class="last">
                        <h2>So what's this all about?</h2>
                        <p>
                            We are team of volunteers from different backgrounds and experiences, here we are together to spread the true message of Islam and teach basics of Islam online without any remuneration or fee. This website is design for anyone in the world who wish to learn Quarn and basics of Islam for free. We have well trained, qualified, experienced and dedicated staff. We are strict, dedicated, committed to this cause and we expect the same from students and parents who will benefit by this platform.
                        </p>
                        <p>We do not have any intention to make money, fame or any related benefit for our own sake. It is completely design to provide modern and technological way of learning Quran and Islam.</p>
                        <a href="/About" class="button icon fa-arrow-circle-right" style="text-align: center;display: block;">Continue Reading</a>
                    </section>
                </div>

            </div>
        </div>
    </div>
</div>

