@{
    ViewBag.Title = "Learn Quran Online | Quran Learning Platform";
    ViewBag.Description = "Learn Quran online with guided lessons, structured courses, and a supportive learning community. Our platform offers a simple and accessible way to understand Quran and Islamic teachings from anywhere in the world.";
    ViewBag.KeyWords = "learn quran online, quran learning platform, islamic education, online quran classes, quran courses, learn islam online, quran tutor, digital quran learning";
}
<section class="owl-curve-green">
    <div class="gap no-gap">
        <img class="botm-shp shp-img" src="assets/images/shp2-1.png" alt="shp2-1.png">
        <div class="featured-area-wrap text-center">
            <a class="contact-btn" href="#" title=""><i class="flaticon-comment"></i>Contact Us</a>
            <div class="featured-area2 owl-carousel">
                <div class="featured-item style2" style="background-image: url(assets/images/resources/slide2-1.jpg);">
                    <div class="featured-cap">
                        <img src="assets/images/resources/bsml-txt.png" alt="bsml-txt.png">
                        <h1 class="al-quran" style="color: #38ab1e">وَمَا خَلَقَ الذَّكَرَ وَالْأُنْثَىٰ</h1>
                        <h3>And Him who created the male and female</h3>
                        <h3>اور اس کی جس نے نر و مادہ بنائے</h3>
                        <span>"Surah الليل Vesre 3"</span>
                        <a class="thm-btn brd-rd5" href="~/online_quran_reading" title="">Read More<i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
                <div class="featured-item style2" style="background-image: url(assets/images/resources/slide2-2.jpg);">
                    <div class="featured-cap">
                        <img src="assets/images/resources/bsml-txt2.png" alt="bsml-txt2.png">
                        <h1 class="al-quran" style="color: #38ab1e">عَيْنًا فِيهَا تُسَمَّىٰ سَلْسَبِيلًا</h1>
                        <h3>From a spring by the name of Ever-flowing-Salsabil</h3>
                        <h3>وہ ادرک کیا ہے جنت میں ایک چشمہ ہے جسے سلسبیل کہتے ہیں</h3>
                        <span>"Surah الانسان Vesre 18"</span>
                        <a class="thm-btn brd-rd5" href="~/online_quran_reading" title="">Read More<i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
                <div class="featured-item style2" style="background-image: url(assets/images/resources/slide2-3.jpg);">
                    <div class="featured-cap">
                        <img src="assets/images/resources/bsml-txt.png" alt="bsml-txt.png">
                        <h1 class="al-quran" style="color: #38ab1e">تَنْزِيلُ الْكِتَابِ مِنَ اللَّهِ الْعَزِيزِ </h1>
                        <h3>The revelation of this Book is from God the all-mighty and all-knowing</h3>
                        <h3>یہ کتاب اتارنا ہے اللہ کی طرف سے جو عزت والا، علم والا</h3>
                        <span>"Surah غافر Vesre 2"</span>
                        <a class="thm-btn brd-rd5" href="~/online_quran_reading" title="">Read More<i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
                <div class="featured-item style2" style="background-image: url(assets/images/resources/slide2-4.jpg);">
                    <div class="featured-cap">
                        <img src="assets/images/resources/bsml-txt2.png" alt="bsml-txt2.png">
                        <h1 class="al-quran" style="color: #38ab1e">الْحَمْدُ لِلَّهِ رَبِّ الْعَالَمِينَ
                        <h3>ALL PRAISE BE to Allah, Lord of all the worlds</h3>
                        <h3>سب خوبیاں اللہ کو جو مالک سارے جہان والوں کا</h3>
                        <span>"Surah الفاتحة Vesre 2"</span>
                        <a class="thm-btn brd-rd5" href="~/online_quran_reading" title="">Read More<i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
            </div>
        </div><!-- Featured Area Wrap -->
    </div>
</section>

<section>
    <div class="gap">
        <div class="container">
            <div class="hstry-wrap">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-lg-6">
                        <div class="hstry-img text-center">
                            <img src="assets/images/resources/hstry-img.png" alt="hstry-img.png">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-lg-6">
                        <div class="hstry-desc">
                            <span>A Few Words About Us</span>
                            <h2>Learn Quran With E-Tutor</h2>
                            <p>We are team of volunteers from different backgrounds and experiences, here we are together to spread the true message of Islam and teach basics of Islam online without any remuneration or fee. This website is design for anyone in the world who wish to learn Quarn and basics of Islam for free. We have well trained, qualified, experienced and dedicated staff. We are strict, dedicated, committed to this cause and we expect the same from students and parents who will benefit by this platform.</p>

                            <ul>
                                <li><a href="/Six_Kalmas"><b>Read Kalmas</b></a></li>
                                <li><a href="/Namaz"><b> Read Namaz</b></a></li>
                                <li><a href="/Masnoon_Duain"><b>Learn Duain</b></a></li>
                                <li><a href="/Darood"><b>Darood Sharif</b></a></li>
                                @*<li><a href="/Home/Lesson_1_Noorani"><b>Noorani Qaida</b></a></li>*@
                                <li><a href="/Namaz_e_Janaza"><b>Namaz Janaza</b></a></li>
                                <li><a href="/Due_e_Qunoot"><b>Due_e_Qunoot</b></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- History Wrap -->
        </div>
    </div>
</section>

<section class="team-green-block">
    <div class="gap thm-layer opc95">
        <div class="fixed-bg ptrn-bg" style="background-image: url(assets/images/pattern-bg.jpg);"></div>
        <div class="container">
            <div class="sec-title2 text-center">
                <div class="sec-title-inner2">
                    <span>IT Team</span>
                    <h3>IT Experts</h3>
                </div>
            </div>
            <div class="team-wrap text-center remove-ext3">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-lg-3 fadeIn" data-wow-duration=".8s" data-wow-delay=".2s">
                        <div class="team-box2">
                            <img src="~/assets/images/resources/AhmedShair.jpg" alt="team-img2-1.jpg">
                            <div class="team-info2">
                                <h4>Ahmed Shair</h4>
                                <p>Chief Technology Officer</p>
                                <div class="team-scl">
                                    <a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                                    <a href="#" title="Pinterest" target="_blank"><i class="fa fa-pinterest-p"></i></a>
                                    <a href="#" title="Google Plus" target="_blank"><i class="fa fa-google-plus"></i></a>
                                    <a href="https://www.facebook.com/ahmed.shair.908" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-lg-3 fadeIn" data-wow-duration=".8s" data-wow-delay=".3s">
                        <div class="team-box2">
                            <img src="~/assets/images/resources/GulfamHaider.jpeg" alt="team-img2-2.jpg">
                            <div class="team-info2">
                                <h4>Gulfam Haider</h4>
                                <p>Software Engineer</p>
                                <div class="team-scl">
                                    <a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                                    <a href="#" title="Pinterest" target="_blank"><i class="fa fa-pinterest-p"></i></a>
                                    <a href="#" title="Google Plus" target="_blank"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div><!-- Team Wrap -->
        </div>
    </div>
</section>
<section>
    <div class="gap">
        <div class="container">
            <div class="sec-title2 text-center">
                <div class="sec-title-inner2">
                    <span>Serving Humanity</span>
                    <h3>Our Services</h3>
                </div>
            </div>
            <div class="serv-wrap text-center remove-ext3">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-lg-3">
                        <div class="srv-box2">
                            <i class="flaticon-quran-rehal"></i>
                            <div class="srv-info2">
                                <h4>Read Quran</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-lg-3">
                        <div class="srv-box2">
                            <i class="flaticon-heart-1"></i>
                            <div class="srv-info2">
                                <h4>Quran Teacher</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-lg-3">
                        <div class="srv-box2">
                            <i class="flaticon-mosque"></i>
                            <div class="srv-info2">
                                <h4>Islamic Books</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-lg-3">
                        <div class="srv-box2">
                            <i class="flaticon-social-care"></i>
                            <div class="srv-info2">
                                <h4>Basic Islam</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Serv Wrap -->

        </div>
    </div>
</section>
<section>
    <div class="gap remove-gap three-block-section">

        <div class="fea-car text-center">
            <div class="row mrg">
                <div class="col-md-4 col-sm-6 col-lg-4">
                    <div class="fea-itm" style="background-image: url(assets/images/resources/fea-img1.jpg);">
                        <i class="flaticon-reading-quran"></i>
                        <div class="fea-info2">
                            <h4>Mission</h4>
                            <h5>What we want</h5>
                            <p>Simply our mission is to provide opportunities to the whole world learning Quran and Islam online. We believe that spreading knowledge of Islam is worthy for everyone’s life. We provide our services for the sake of ALLAH. This website is 100% free for everyone.</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-lg-4">
                    <div class="fea-itm" style="background-image: url(assets/images/resources/fea-img2.jpg);">
                        <i class="flaticon-museum"></i>
                        <div class="fea-info2">
                            <h4>Vision</h4>
                            <h5>What we think</h5>
                            <p>Our vision to spread the true message of Islam for all over the world. To help people in reading and understanding the Holly Quran and the basics of Islam (Shahdat, Salat/Prayer, Zakat, Fast and Hajj) just to spread Islam for the sake of Allah.</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-lg-4">
                    <div class="fea-itm" style="background-image: url(assets/images/resources/fea-img3.jpg);">
                        <i class="flaticon-heart-1"></i>
                        <div class="fea-info2">
                            <h4>Focus</h4>
                            <h5>What we do</h5>
                            <p>We want to clear that this website is made only to spread the true message of Islam. We do not have any intention to make money, fame or any related benefit for our own sake. It is design to provide modern and technological way of learning Quran and Islam.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="gap">
        <div class="container">
            <div class="evnt-pry-wrap">
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-lg-12">
                        <div class="sec-title">
                            <div class="sec-title-inner">
                                <h3>Prayer <span>Times</span></h3>
                            </div>
                        </div>
                        <ul class="prayer-times">
                            <li class="pry-tim-hed"><span>Salat</span><span>Start</span><span>Iqamah</span></li>
                            <li><span class="thm-clr">Fajar</span><span>03:58 am</span><span>04:45 am</span></li>
                            <li><span class="thm-clr">Sunrise</span><span>05:31 am</span><span>05:31 am</span></li>
                            <li><span class="thm-clr">Zuhr</span><span>12:47 pm</span><span>12:47 pm</span></li>
                            <li><span class="thm-clr">Asr</span><span>05:53 pm</span><span>05:50 pm</span></li>
                            <li><span class="thm-clr">Maghrib</span><span>08:04 pm</span><span>08:04 pm</span></li>
                            <li><span class="thm-clr">Isha</span><span>09:37 pm</span><span>09:30 pm</span></li>
                            <li><span class="thm-clr">Jumu'ah 1</span><span>01:15 pm</span><span>01:15 pm</span></li>
                        </ul>
                    </div>
                </div>
            </div><!-- Events & Prayer Wrap -->
        </div>
    </div>
</section>

<section class="donate-block">
    <div class="gap black-layer3 opc9">
        <div class="fixed-bg" style="background-image: url(assets/images/parallax6.jpg);"></div>
        <div class="container">
            <div class="sec-title2 text-center">
                <div class="sec-title-inner2">
                    <h3>So what's this all about?</h3>
                </div>
                <p>
                    We are team of volunteers from different backgrounds and experiences, here we are together to spread the true message of Islam and teach basics of Islam online without any remuneration or fee. This website is design for anyone in the world who wish to learn Quarn and basics of Islam for free. We have well trained, qualified, experienced and dedicated staff. We are strict, dedicated, committed to this cause and we expect the same from students and parents who will benefit by this platform.

                    We do not have any intention to make money, fame or any related benefit for our own sake. It is completely design to provide modern and technological way of learning Quran and Islam.
                </p>
            </div>


        </div>
    </div>
</section>

<section>
    <div class="gap white-layer opc9">
        <div class="fixed-bg ptrn-bg" style="background-image: url(assets/images/pattern-bg.jpg);"></div>
        <div class="container">
            <div class="sec-title2 text-center">
                <div class="sec-title-inner2">
                    <span>What Our</span>
                    <h3>Donator Say</h3>
                </div>
            </div>
            <div class="testi-wrap style2 text-center">
                <div class="testi-car owl-carousel">
                    <div class="testi-itm">
                        <i><img src="assets/images/resources/testi-img1.jpg" alt="testi-img1.jpg"></i>
                        <div class="testi-info">
                            <h4>Abu Hassam Adam</h4>
                            <p><i>"</i>Giving charity to this insitution made me feel happy, consectetur, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua <i>"</i></p>
                        </div>
                    </div>
                    <div class="testi-itm">
                        <i><img src="assets/images/resources/testi-img2.jpg" alt="testi-img2.jpg"></i>
                        <div class="testi-info">
                            <h4>Abu Adam Hassam</h4>
                            <p><i>"</i>I'm glad that I was able to help the needy, elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua <i>"</i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
