
@{
    ViewBag.Title = "Noorani Qaida | Quran Learning Platform";
    ViewBag.Description = "Learn Noorani Qaida online with step-by-step guidance to build a strong foundation in Quran reading. Perfect for beginners starting their Quran learning journey.";
    ViewBag.KeyWords = "noorani qaida, learn qaida online, quran basics, arabic reading for beginners, quran learning for kids, islamic education, qaida lessons";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="banner-wrapper">
    <div id="banner" class="box container">
        <div class="row">
            <div class="col-md-12" style="width:100%;margin:0 auto;overflow-x:auto;">
                <h3 style="text-align:center">Lesson 1</h3>
                <table>
                    <tr>
                        <td>
                            <img src="~/images/Alphabets/alif.png" />

                        </td>
                        <td>
                            <img src="~/images/Alphabets/baa.png" />
                        </td>
                        <td>
                            <img src="~/images/Alphabets/taa.png" />
                        </td>
                        <td>
                            <img src="~/images/Alphabets/shaa.png" />
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <audio controls>
                                <source src="~/assets/Audio/1_Alif.mp3" type="audio/mp3">
                            </audio>
                        </td>
                        <td>
                            <audio controls>
                                <source src="~/assets/Audio/2_baa.mp3" type="audio/ogg">
                            </audio>
                        </td>
                        <td>
                            <audio controls>
                                <source src="~/assets/Audio/3_taa.mp3" type="audio/ogg">
                            </audio>
                        </td>
                        <td>
                            <audio controls>
                                <source src="~/assets/Audio/4_saah.mp3" type="audio/ogg">
                            </audio>

                    </tr>
                    <tr>
                        <td>
                            <img src="~/images/Alphabets/jeem.png" />
                        </td>
                        <td>
                            <img src="~/images/Alphabets/haa.png" />
                        </td>
                        <td>
                            <img src="~/images/Alphabets/khaa.png" />
                        </td>
                        <td>
                            <img src="~/images/Alphabets/dall.png" />
                        </td>
                    </tr>>
                    <tr>
                        <td>
                            <audio controls>
                                <source src="~/assets/Audio/5_jeem.mp3" type="audio/ogg">
                            </audio>
                        </td>
                        <td>
                            <audio controls>
                                <source src="~/assets/Audio/6_haa.mp3" type="audio/ogg">
                            </audio>
                        </td>
                        <td>
                            <audio controls>
                                <source src="~/assets/Audio/7_khaa.mp3" type="audio/ogg">
                            </audio>
                        </td>
                        <td>
                            <audio controls>
                                <source src="~/assets/Audio/8_daal.mp3" type="audio/ogg">
                            </audio>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="~/images/Alphabets/zaa.png" />
                        </td>
                        <td>
                            <img src="~/images/Alphabets/raa.png" />
                        </td>
                        <td>
                            <img src="~/images/Alphabets/zeee.png" />
                        </td>
                        <td>
                            <img src="~/images/Alphabets/seen.png" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <audio controls>
                                <source src="~/assets/Audio/9_zaal.mp3" type="audio/ogg">
                            </audio>
                        </td>
                        <td>
                            <audio controls>
                                <source src="~/assets/Audio/10_Raa.mp3" type="audio/ogg">
                            </audio>
                        </td>
                        <td>
                            <audio controls>
                                <source src="~/assets/Audio/11_zaa.mp3" type="audio/ogg">
                            </audio>
                        </td>
                        <td>
                            <audio controls>
                                <source src="~/assets/Audio/12_seen.mp3" type="audio/ogg">
                            </audio>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <img src="~/images/Alphabets/sheen.png" />
                        </td>
                        <td>
                            <img src="~/images/Alphabets/suaad.png" />
                        </td>
                        <td>
                            <img src="~/images/Alphabets/duaad.png" />
                        </td>
                        <td>
                            <img src="~/images/Alphabets/tuee.png" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <audio controls>
                                <source src="~/assets/Audio/13_sheen.mp3" type="audio/ogg">
                            </audio>
                        </td>
                        <td>
                            <audio controls>
                                <source src="~/assets/Audio/14_soad.mp3" type="audio/ogg">
                            </audio>
                        </td>
                        <td>
                            <audio controls>
                                <source src="~/assets/Audio/15_Doad.mp3" type="audio/ogg">
                            </audio>
                        </td>
                        <td>
                            <audio controls>
                                <source src="~/assets/Audio/16_toa.mp3" type="audio/ogg">
                            </audio>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <img src="~/images/Alphabets/zuee.png" />
                        </td>
                        <td>
                            <img src="~/images/Alphabets/ayeen.png" />
                        </td>
                        <td>
                            <img src="~/images/Alphabets/ghaeen.png" />
                        </td>
                        <td>
                            <img src="~/images/Alphabets/phee.png" />
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <audio controls>
                                <source src="~/assets/Audio/17_Zoa.mp3" type="audio/ogg">
                            </audio>
                        </td>
                        <td>
                            <audio controls>
                                <source src="~/assets/Audio/18_Aain.mp3" type="audio/ogg">
                            </audio>
                        </td>
                        <td>
                            <audio controls>
                                <source src="~/assets/Audio/19_ghain.mp3" type="audio/ogg">
                            </audio>
                        </td>
                        <td>
                            <audio controls>
                                <source src="~/assets/Audio/20_Faa.mp3" type="audio/ogg">
                            </audio>
                        </td>

                        <
                    </tr>>
                    <tr>
                        <td>
                            <img src="~/images/Alphabets/qaaf.png" />
                        </td>
                        <td>
                            <img src="~/images/Alphabets/qyaaf.png" />
                        </td>
                        <td>
                            <img src="~/images/Alphabets/laam.png" />
                        </td>
                        <td>
                            <img src="~/images/Alphabets/meem.png" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <audio controls>
                                <source src="~/assets/Audio/21_Qaaf.mp3" type="audio/ogg">
                            </audio>
                        </td>
                        <td>
                            <audio controls>
                                <source src="~/assets/Audio/22_Kaaf.mp3" type="audio/ogg">
                            </audio>
                        </td>
                        <td>
                            <audio controls>
                                <source src="~/assets/Audio/23_Laam.mp3" type="audio/ogg">
                            </audio>
                        </td>
                        <td>
                            <audio controls>
                                <source src="~/assets/Audio/24_Meem.mp3" type="audio/ogg">
                            </audio>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="~/images/Alphabets/nuoon.png" />
                        </td>
                        <td>
                            <img src="~/images/Alphabets/heey.png" />
                        </td>
                        <td>
                            <img src="~/images/Alphabets/wao.png" />
                        </td>

                        <td>
                            <img src="~/images/Alphabets/yeee.png" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <audio controls>
                                <source src="~/assets/Audio/25_Noon.mp3" type="audio/ogg">
                            </audio>
                        </td>
                        <td>
                            <audio controls>
                                <source src="~/assets/Audio/26_Haah.mp3" type="audio/ogg">
                            </audio>
                        </td>
                        <td>
                            <audio controls>
                                <source src="~/assets/Audio/27_Wow.mp3" type="audio/ogg">
                            </audio>
                        </td>
                        <td>
                            <audio controls>
                                <source src="~/assets/Audio/28_Yaa.mp3" type="audio/ogg">
                            </audio>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
