
@{
    ViewBag.Title = "Learn Namaz | Quran Learning Platform";
    ViewBag.Description = "Learn how to perform Namaz step by step with clear guidance and understanding. Explore essential prayers, positions, and recitations for daily Islamic practice.";
    ViewBag.KeyWords = "learn namaz, how to pray namaz, islamic prayer guide, salah steps, daily prayers, quran learning, islamic education";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="banner-wrapper">
    <div id="banner" class="box container">
        <div class="row">
            <div class="col-md-12" style="width:100%;margin:0 auto;">

                <h3 style="text-align:center">See Video Toturial</h3>
                <iframe style="border: 5px solid #cc6600;" width="100%" height="400" src="https://www.youtube.com/embed/LCFPwhzijdU?rel=0" frameborder="0" allowfullscreen></iframe>

                <br>
                <br>
                <h3 style="text-align:center">Read Namaz Step by Step</h3>
                <img src="~/images/namaz/n1.jpg" style="width: 101%;" />
                <br />
                <img src="~/images/namaz/n2.jpg" style="width: 101%;" />
                <br />
                <img src="~/images/namaz/n3.jpg" style="width: 101%;" />
                <br />
                <img src="~/images/namaz/n4.jpg" style="width: 101%;" />
                <br />
                <img src="~/images/namaz/n5.jpg" style="width: 101%;" />
                <br />
                <img src="~/images/namaz/n6.jpg" style="width: 101%;" />
                <br />
                <img src="~/images/namaz/n7.jpg" style="width: 101%;" />
                <br />
                <img src="~/images/namaz/n8.jpg" style="width: 101%;" />
                <br />
                <img src="~/images/namaz/n8-2.jpg" style="width: 101%;" />
                <br />
                <img src="~/images/namaz/n9.jpg" style="width: 101%;" />
                <br />
                <img src="~/images/namaz/n10.jpg" style="width: 101%;" />
                <br />
                <img src="~/images/namaz/n11.jpg" style="width: 101%;" />
                <br />
                <img src="~/images/namaz/n12.jpg" style="width: 101%;" />
                <br />
                <img src="~/images/namaz/n13.jpg" style="width: 101%;" />
                <br />
                <img src="~/images/namaz/n14.jpg" style="width: 101%;" />

                <br />
            </div>
        </div>
    </div>
</div>
