
@{
    ViewBag.Title = "Masnoon Duain | Quran Learning Platform";
    ViewBag.Description = "Read and learn Masnoon Duain online with proper guidance. Explore daily supplications and strengthen your connection with Islamic teachings through authentic duas.";
    ViewBag.KeyWords = "masnoon duain, daily duas, islamic supplications, learn duas online, read duas, quran learning, islamic education";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="banner-wrapper">
    <div id="banner" class="box container">
        <div class="row">
            <div class="col-md-12" style="width:100%;margin:0 auto;">
                <img src="~/images/Duain/1.jpg" style="width: 101%;" /><hr style="border: 1px solid #cc6600;" />
                <br />
                <img src="~/images/Duain/2.jpg" style="width: 101%;" /><hr style="border: 1px solid #cc6600;" />
                <br />
                <img src="~/images/Duain/3.jpg" style="width: 101%;" /><hr style="border: 1px solid #cc6600;" />
                <br />
                <img src="~/images/Duain/4.jpg" style="width: 101%;" /><hr style="border: 1px solid #cc6600;" />
                <br />
                <img src="~/images/Duain/5.jpg" style="width: 101%;" /><hr style="border: 1px solid #cc6600;" />
                <br />
                <img src="~/images/Duain/6.jpg" style="width: 101%;" /><hr style="border: 1px solid #cc6600;" />
                <br />
                <img src="~/images/Duain/7.jpg" style="width: 101%;" /><hr style="border: 1px solid #cc6600;" />
                <br />
                <img src="~/images/Duain/8.jpg" style="width: 101%;" /><hr style="border: 1px solid #cc6600;" />
                <br />
                <img src="~/images/Duain/9.jpg" style="width: 101%;" /><hr style="border: 1px solid #cc6600;" />
                <br />
                <img src="~/images/Duain/10.jpg" style="width: 101%;" /><hr style="border: 1px solid #cc6600;" />
                <br />
                <img src="~/images/Duain/11.jpg" style="width: 101%;" /><hr style="border: 1px solid #cc6600;" />
                <br />
                <img src="~/images/Duain/12.jpg" style="width: 101%;" /><hr style="border: 1px solid #cc6600;" />
                <br />
                <img src="~/images/Duain/13.jpg" style="width: 101%;" /><hr style="border: 1px solid #cc6600;" />
                <br />
                <img src="~/images/Duain/14.jpg" style="width: 101%;" /><hr style="border: 1px solid #cc6600;" />
                <br />
                <img src="~/images/Duain/15.jpg" style="width: 101%;" /><hr style="border: 1px solid #cc6600;" />
                <br />
                <img src="~/images/Duain/16.jpg" style="width: 101%;" /><hr style="border: 1px solid #cc6600;" />
                <br />
                <img src="~/images/Duain/17.jpg" style="width: 101%;" /><hr style="border: 1px solid #cc6600;" />
                <br />
                <img src="~/images/Duain/18.jpg" style="width: 101%;" /><hr style="border: 1px solid #cc6600;" />
                <br />
                <img src="~/images/Duain/19.jpg" style="width: 101%;" /><hr style="border: 1px solid #cc6600;" />
                <br />
                <img src="~/images/Duain/20.jpg" style="width: 101%;" /><hr style="border: 1px solid #cc6600;" />
                <br />
                <img src="~/images/Duain/21.jpg" style="width: 101%;" /><hr style="border: 1px solid #cc6600;" />
                <br />
                <img src="~/images/Duain/22.jpg" style="width: 101%;" /><hr style="border: 1px solid #cc6600;" />
                <br />
                <img src="~/images/Duain/23.jpg" style="width: 101%;" /><hr style="border: 1px solid #cc6600;" />
                <br />
                <img src="~/images/Duain/24.jpg" style="width: 101%;" /><hr style="border: 1px solid #cc6600;" />
                <br />
                <img src="~/images/Duain/25.jpg" style="width: 101%;" /><hr style="border: 1px solid #cc6600;" />
                <br />
                <img src="~/images/Duain/26.jpg" style="width: 101%;" /><hr style="border: 1px solid #cc6600;" />
                <br />
                <img src="~/images/Duain/27.jpg" style="width: 101%;" /><hr style="border: 1px solid #cc6600;" />
                <br />
                <img src="~/images/Duain/28.jpg" style="width: 101%;" /><hr style="border: 1px solid #cc6600;" />
                <br />
                <img src="~/images/Duain/29.jpg" style="width: 101%;" /><hr style="border: 1px solid #cc6600;" />
                <br />
                <img src="~/images/Duain/30.jpg" style="width: 101%;" /><hr style="border: 1px solid #cc6600;" />
                <br />
                <img src="~/images/Duain/31.jpg" style="width: 101%;" /><hr style="border: 1px solid #cc6600;" />
                <br />
                <img src="~/images/Duain/32.jpg" style="width: 101%;" /><hr style="border: 1px solid #cc6600;" />
                <br />
                <img src="~/images/Duain/33.jpg" style="width: 101%;" />
                <br />


            </div>
        </div>
    </div>
</div>


