
@{
    ViewBag.Title = "Six Kalmas | Quran Learning Platform";
    ViewBag.Description = "Read and learn the Six Kalmas online with proper understanding and guidance. Strengthen your knowledge of essential Islamic beliefs through clear and accessible learning.";
    ViewBag.KeyWords = "six kalmas, kalma learning, islamic beliefs, learn kalmas online, read kalmas, quran learning, islamic education";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="banner-wrapper">
    <div id="banner" class="box container">
        <div class="row">
            <div class="col-md-12" style="width:100%;margin:0 auto;">
                <img src="~/images/1.jpg" style="width: 101%;" />
                <br />
                <img src="~/images/2.jpg" style="width: 101%;" />
                <br />
                <img src="~/images/3.jpg" style="width: 101%;" />
                <br />
                <img src="~/images/4.jpg" style="width: 101%;" />
                <br />
                <img src="~/images/5.jpg" style="width: 101%;" />
                <br />
                <img src="~/images/6.jpg" style="width: 101%;" />
                <br />
            </div>
        </div>
    </div>
</div>
