
@{
    ViewBag.Title = "Namaz e Janaza | Quran Learning Platform";
    ViewBag.Description = "Learn how to perform Namaz e Janaza with step-by-step guidance. Understand the method, duas, and essential practices for this important Islamic prayer.";
    ViewBag.KeyWords = "namaz e janaza, janaza prayer, funeral prayer islam, how to pray janaza, islamic prayer guide, quran learning";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="banner-wrapper">
    <div id="banner" class="box container">
        <div class="row">
            <div class="col-md-12" style="width:100%;margin:0 auto;">
                <img src="~/images/Janaza/1.png" style="width: 101%;" /><hr style="border: 1px solid #cc6600;" />
                <img src="~/images/Janaza/2.jpg" style="width: 101%;" /><hr style="border: 1px solid #cc6600;" />
                <img src="~/images/Janaza/3.jpg" style="width: 101%;" /><hr style="border: 1px solid #cc6600;" />
                <img src="~/images/Janaza/Boy.jpg" style="width: 101%;" /><hr style="border: 1px solid #cc6600;" />
                <img src="~/images/Janaza/Girl.jpg" style="width: 101%;" />

                <br />
            </div>
        </div>
    </div>
</div>

