
@{
    ViewBag.Title = "Darood Sharif | Quran Learning Platform";
    ViewBag.Description = "Read and learn Darood Sharif online with proper understanding and guidance. Explore authentic Islamic supplications and strengthen your daily prayers.";
    ViewBag.KeyWords = "darood sharif, darood e ibrahimi, islamic supplication, read darood online, learn darood, daily duas, quran learning";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="banner-wrapper">
    <div id="banner" class="box container">
        <div class="row">
            <div class="col-md-12" style="width:100%;margin:0 auto;">
                <img src="~/images/Darood/dr1.jpg" style="width: 49%;margin-right: 10px;" />
                <img src="~/images/Darood/dr10.jpg" style="width: 49%;" />
                <br /><br />
                <img src="~/images/Darood/dr11.jpg" style="width: 49%;margin-right: 10px;" />
                <img src="~/images/Darood/dr12.jpg" style="width: 49%;" />
                <br /><br />
                <img src="~/images/Darood/dr13.jpg" style="width: 49%;margin-right: 10px;" />
                <img src="~/images/Darood/dr16.jpg" style="width: 49%;" />
                <br /><br />
                <img src="~/images/Darood/dr17.jpg" style="width: 49%;margin-right: 10px;" />
                <img src="~/images/Darood/dr2.jpg" style="width: 49%;" />
                <br /><br />
                <img src="~/images/Darood/dr3.jpg" style="width: 49%;margin-right: 10px;" />
                <img src="~/images/Darood/dr4.jpg" style="width: 49%;" />
                <br /><br />
                <img src="~/images/Darood/dr6.jpg" style="width: 49%;margin-right: 10px;" />
                <img src="~/images/Darood/dr7.jpg" style="width: 49%;" />
                <br /><br />
                <img src="~/images/Darood/dr8.jpg" style="width: 49%;margin-right: 10px;" />
                <img src="~/images/Darood/dr9.jpg" style="width: 49%;" />
            </div>
        </div>
    </div>
</div>



