
@{
    ViewBag.Title = "Instructor Terms & Guidelines | Quran Learning Platform";
    ViewBag.Description = "Review the terms and guidelines for instructors. Understand your responsibilities, teaching standards, and policies for delivering high-quality Quran education on the platform.";
    ViewBag.KeyWords = "instructor terms, teaching guidelines, quran instructors, islamic education platform, instructor policies, teaching standards, online quran teaching";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="banner-wrapper">
    <div id="banner" class="box container">
        <div class="row">
            <div class="col-md-12" style="width:100%;margin:0 auto;">
                <h3 style="text-align:center">Terms For Instructors</h3>
                <ul style="list-style-type: decimal;font-size: 19px;color: black;">
                    <li>Responsible to understand his/her duties and obligations well in time and exercise them according to the instructions of management team.</li>
                    <li>Responsible for scheduling, testing, teaching and reporting of students.</li>
                    <li>Must have knowledge that <a href="/">www.learnfreequran.com</a> is not a relationship building website, so will not request any student or their parents for personal contacts or social media etc, if they do so, they will be responsible and have to accept any decision made by management against this activity?</li>
                    <li>Understand job requirements and responsibilities well. </li>
                    <li>Make sure to exercise according to the policies of <a href="/">www.learnfreequran.com</a>.</li>
                    <li>If there is any dispute or any problem he/she will have to inform management well in time.</li>
                    <li>Respect and execute <a href="/">www.learnfreequran.com</a> management decisions and policies.</li>
                    <li>Cannot ask anything related to finance/money to students. </li>
                    <li>Will not request for any tuition fee or any personal favor to students or their parents.</li>
                    <li>Will follow their schedule strictly.</li>
                    <li>Make sure that their services remain fruitful for <a href="/">www.learnfreequran.com</a>.</li>
                    <li>Check unscheduled students on daily basis and try to schedule them as soon as possible.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

