
@{
    ViewBag.Title = "Terms & Conditions | Quran Learning Platform";
    ViewBag.Description = "Read the terms and conditions for using the Quran learning platform. Understand user responsibilities, policies, and guidelines to ensure a safe and respectful learning experience.";
    ViewBag.KeyWords = "terms and conditions, user policies, platform guidelines, quran learning platform, website terms, user agreement, islamic education platform";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="banner-wrapper">
    <div id="banner" class="box container">
        <div class="row">
            <div class="col-md-12" style="width:100%;margin:0 auto;">
                <h3 style="text-align:center">Terms For Students</h3>
                <ul style="list-style-type: decimal;font-size: 19px;color: black;">
                    <li>First of all we (Team of Online free Quran Learning) want to clear that this website is made only to spread the true message of Islam, which is only based to have sake of ALLAH. We do not have any intention to make money, fame or any related benefit for our own sake. It is completely design to provide modern and technological way of learning Quran and Islam.</li>
                    <li>
                        <strong> Our expectations from students consists of following:</strong>
                        <ul style="list-style-type:lower-alpha">
                            <li>Understanding the vision and mission of the <a href="/">www.learnfreequran.com</a></li>
                            <li>Follow all rules and regulations of the <a href="/">www.learnfreequran.com</a> at present and in future if there is any change.</li>
                            <li>Acknowledge and understand his/her duty to follow schedule regularly.</li>
                            <li>Responsible to inform management team at least 1 weak before if there is any emergency or he/she cannot attend class due to any reason.</li>
                            <li>Knowledge that if he/she will continuously miss 2 classes he/she will be compelled from schedule.</li>
                            <li>Consent with fully devotion that he/she will learn, attend tests and follow the instructions given by tutor or management.</li>
                            <li><a href="/">www.learnfreequran.com</a> is only for the purpose of learning Quran and Islam, he/she will not ask any concerned person for his/her personal contact details or social media etc.</li>
                            <li>Understand this portal is not platform for relationship or social activities.</li>
                            <li>Know this portal is free of any charge and he/she will not pay any amount if requested by tutor or any other relevant person.</li>
                            <li>It depends on him/her if he/she want to make any donation, zakat or sadqa to the <a href="/">www.learnfreequran.com</a> he/she will follow the instructions given on make donation tab on website.</li>
                        </ul>
                    </li>
                </ul>

                <br />

                <h3 style="text-align:center">Terms For Guardians/Parents</h3>
                <ul style="list-style-type: decimal;font-size: 19px;color: black;">
                    <li>They must understand all terms and conditions of <a href="/">www.learnfreequran.com</a>.</li>
                    <li>
                        Also it’s their responsibility to make sure that their child is attending classes on time and preparing his/her lessons according to the instructions.
                    </li>
                    <li>Assure <a href="/">www.learnfree-quran.com</a> Management team that they will cooperate in any matter relating to their child Islamic education.</li>
                    <li>They will follow up with management team and reply on time if any correspondence happen.</li>
                </ul>
            </div>
        </div>
    </div>
</div>


